.avatar{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.wrapperUsers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.wrapperAvatar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tableSpan{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}
.selectedPageActive{
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: transform, .5s;
    margin-left: 5px;



}
.selectedPage{
    cursor: pointer;
    margin-left: 5px;
}