.myPosts{



}
.textWrapper{
    display: flex;
    margin-bottom: 30px;
}
.textarea{
    padding: 10px;
    width: 600px;
    outline: none;
    border-radius: 5px;
    resize: none;
    margin-right: 10px;

}
