.app-wrapper {
    display: grid;
    width: 1200px;
    grid-gap: 10px;
    grid-template-areas:
    'h h'
    'c n';
    grid-template-rows: 90px 1fr;
    grid-template-columns: 9fr 3fr;
    margin: 10px auto;

}
.app-wrapper-content{
    grid-area: c;
    background-color: #d8d8dc;
    border-radius: 10px;
}





